*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle
/.idea
/.gitignore
/app/.gitignore
/app/app.iml
/app/build
/baseLibrary/baseLibrary.iml
/baseLibrary/build
