<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcstorage.circle">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".CircleActivity"
            android:label="@string/circle"
            android:screenOrientation="portrait" />

        <activity
            android:name=".comment.CircleCommentActivity"
            android:label="@string/comment"
            android:screenOrientation="portrait" />

    </application>

</manifest>
