<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fy.img.picker">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- 图片选择器 -->
        <activity
            android:name=".multiselect.ImgPickerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.picker.ImgPickerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 图片预览 -->
        <activity
            android:name=".preview.PicturePreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.preview.PicturePreviewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
