<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcstorage.app.main">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <service
            android:name="com.wintone.plateid.AuthService"
            android:enabled="true">
            <intent-filter>
                <action android:name="wintone.plateid.authservice" />
            </intent-filter>
        </service>

        <service
            android:name="com.wintone.plateid.RecogService"
            android:enabled="true">
            <intent-filter>
                <action android:name="wintone.plateid.recogService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MemoryCameraActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity android:name=".MemoryResultActivity" />

        <activity
            android:name=".ResultActivity"
            android:screenOrientation="portrait" />

    </application>

    <!-- 读取机器各种ID的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 关闭该包下的所有应用程序 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--
    guangda
    <uses-permission android:name="cybertech.pstore.permission.COMPONENT" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_USERINFO" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LINKINFO" />
    -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

</manifest>
